{% extends 'base.html' %}
{% block title%}Passwords{% endblock %}
{% load crispy_forms_tags %}
{% block content%}

<div class="container-md">
    <div class="container-items">
        <h2 class="display-5">add password</h2>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-outline-secondary" type="submit">add to safe</button>
        </form>
    </div>
</div>
<div class="container-md">
    <h2 class="display-5">your data</h2>
    <div>
        <table>
            <tr>
                <th>purpose</th>
                <th>content</th>
                <th>view</th>
                <th>delete</th>
            </tr>
            {% for safe in safe_objects %}
                <tr>
                    <th>{{safe.purpose}}</th>
                    <th>{{safe.content|slice:":4"}}...</th>
                    <th><a href="/passwords/{{safe.id}}">view</a></th>
                    <th><a href="/passwords/delete/{{safe.id}}">delete</a></th>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}